<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--====styling=====-->
    <link rel="stylesheet" href="{% static 'css\statistics.css' %}">
    <!--===Poppins===-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--======Boxicons======-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Quiz web app</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="{% url 'home' %}" class="nav__logo">Logo</a></li>
            </ul>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">

                    {% if request.user.is_authenticated %}
                    <li class="nav__item"><a href="{% url 'profile' %}" class="nav_link btn">Dashboard</a></li>
                    <li class="nav__item"><a href="{% url 'account_logout' %}" class="nav_link btn">Logout</a></li>
                    {% else%}
                    <li class="nav__item"><a href="{% url 'account_login' %}" class="nav_link">Login</a></li>
                    <li class="nav__item"><a href="{% url 'account_signup' %}" class="nav_link btn">Create an account</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="nav__toogle" id="nav-toggle" >
                <i class='bx bxs-grid '></i>
            </ul>

        </nav>

    </header>
    <section class="ads">
        <div class="ad-silver">
            <div class="img">
                <img src="{% static 'img/logo-colour.d534143b.svg' %}" alt="">
            </div>
            <div class="description">
                <h2 class="data">Coca cola <span class="close"><i class='bx bx-x'></i></span></h2>
                <p class="desc">The essential app for every designer. Generate and collect beautiful color palettes on the go.</p>
                <a href="">Visit now</a>
            </div>
        </div>
    </section>
    <section class="userdata">
        <div class="title">
            <h1>Overview</h1>
        </div>
        <section>
            <div class="card">
                <i class='bx bx-medal'></i>
                <h1>Score</h1>
                <p>20/20</p>
            </div>
            <div class="card">
                <i class='bx bxs-coin-stack' ></i>
                <h1>Points</h1>
                <p>200</p>
            </div>
            <div class="card">
                <i class='bx bx-trophy' ></i>
                <h1>Rank</h1>
                <p> 1</p>
            </div>
        </section>
        <div class="tabel">
            <table>
                <thead>
                    <caption>Recent activity</caption>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Username</th>
                    <th scope="col">Points</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-label="rank">1</td>
                    <td data-label="username">John Doe</td>
                    <td data-label="point">9/10</td>
                    <td data-label="score">900</td>
                  </tr>
                  <tr>
                    <td data-label="rank">2</td>
                    <td scope="row" data-label="username">Jane Doe</td>
                    <td data-label="point">8/10</td>
                    <td data-label="score">800</td>
                  </tr>
                  <tr>
                    <td data-label="rank">3</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">4</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">5</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">6</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">7</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">8</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">9</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">7/10</td>
                    <td data-label="score">700</td>
                  </tr>
                  <tr>
                    <td data-label="rank">10</td>
                    <td scope="row" data-label="username">Will Smith</td>
                    <td data-label="point">5/10</td>
                    <td data-label="score">500</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </section>
</body>
<script src="{% static 'JS/main.js' %}"></script>
</html>