<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--====styling=====-->
    <link rel="stylesheet" href="{% static 'css/statistics.css' %}">
    <!--===Poppins===-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--======Boxicons======-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Quiz web app</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="{% url 'home' %}" class="nav__logo">Logo</a></li>
            </ul>
            <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">

                  {% if request.user.is_authenticated %}
                  <li id="profiledropdown-large">
                      <div class="div">
                        <img src="{{r.profile.url}}" alt="" >
                      </div>
                    </li>
                  <li id="profiledropdown-small">
                      <div class="div">
                        {% ifequal r.profile None %}
                        <img src="{% static 'img/default.jpg' %}">
                        {% else %}
                        <img src="{{r.profile.url}}" >
                        {% endifequal %}
                       
                        <div class="editCircle" id="editProfile">
                          <i class='bx bxs-pencil' ></i>
                        </div>
                      </div>
                    </li>
                  <li class="nav__item username"><p>{{request.user.username}}</p></li>
                  <li class="nav__item useremail"><p>{{request.user.email}}</p></li>
                  <li class="nav__item navigation hidden-nav-item"><a href="{% url 'home' %}" class="nav_link "><i class='bx bx-home-alt'></i>Home</a></li>
                  <li class="nav__item navigation"><a href="{% url 'leaderboard' %}" class="nav_link "><i class='bx bx-trophy' id="hidden" ></i>Leaderboard</a></li>
                  <li class="nav__item navigation hidden-nav-item "><a href="{% url 'account_logout' %}" class="nav_link "><i class='bx bx-log-out' ></i>Logout</a></li>
                  <div class="userprofile" id="userprofile">
                    <div class="img">
                      {% ifequal r.profile None %}
                      <img src="{% static 'img/default.jpg' %}">
                      {% else %}
                      <img src="{{r.profile.url}}">
                      {% endifequal %}
                      <div class="upload-img">
                        <p id="upload">+</p>
                      </div>
                    </div>
                    <h4>{{ request.user }}</h4>
                    <p class="email">{{request.user.email}}</p>
                    <div class="button_container">
                      <a href="{% url 'account_logout' %}">Logout</a>
                    </div>
                  </div>
                  {% else%}
                  <li class="nav__item"><a href="{% url 'account_login' %}" class="nav_link">Login</a></li>
                  <li class="nav__item"><a href="{% url 'account_signup' %}" class="nav_link btn">Create an account</a></li>
                  {% endif %}
              </ul>
          </div>
            <ul class="nav__toogle" id="nav-toggle" >
                <i class='bx bxs-grid '></i>
            </ul>

        </nav>
        <div class="modal" id="popupmodal">
          <div class="modal-content">
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="upateInfomodal">
                      <input type="text" name="username" placeholder="Username">
                      <input type="text" name="email" placeholder="Email">
                      <input type="text" name="phonenumber" placeholder="Phonenumber">
                  </div>
                  <input type="file" name="profile_upload" class="custom-file-input">
                  <div class="updatebutton_container">
                      <button type="submit">Save</button>
                  </div>
                </form>
                <i class='bx bx-x' id="closeUploadPopup"></i>

          </div>
    </header>
    <section class="ads">
        <div class="ad-silver">
          
            <div class="img">
                <img src="{% static 'img/logo-colour.d534143b.svg' %}" alt="">
            </div>
            <div class="description">
                <h2 class="data">Coca cola <span class="close"><i class='bx bx-x'></i></span></h2>
                <p class="desc">The essential app for every designer. Generate and collect beautiful color palettes on the go.</p>
                <a href="">Visit now</a>
            </div>
        </div>
    </section>
   <section class="leaderBoard">
     <h1>Leaderboard</h1>
     <div class="circles">
       <div class="profile-container">
        {% ifequal object.image None %}
        <img src="{% static 'img/default.jpg' %}" />
        {% else %}
        <img src="{{r.profile.url}}" alt="">
        {% endifequal %}
         <h1>{{r.user.username}}</h1>
         <h1 id="score"><i class='bx bx-coin-stack'> </i>{{r.score}}</h1>
       </div>
      </div>
      <div class="table">
          {% for r in result %}
        <div class="card" id = "{{r.user.username}}">
          <p class="rank"></p>
          {% ifequal object.image None %}
          <img src="{% static 'img/default.jpg' %}" class="profile-table">
          {% else %}
           <img src="{{r.profile.url}}" alt="" class="profile-table">
          {% endifequal %}
          <div class="user-info">
            <p class="name">{{r.user.username}}</p>
            <p class="score"><i class='bx bx-coin-stack'></i>{{r.score}}</p>
          </div>
        </div>
          {% endfor %}
       
        </div>
      </div>



   </section>
</body>
<script src="{% static 'JS/main.js' %}"></script>
<script>
  const dropdownBtn = document.getElementById("profiledropdown-large")
  const dropdown = document.getElementById("userprofile")
  dropdownBtn.addEventListener("click", function(){
    console.log("code works till this instance.")
    dropdown.classList.toggle("visibleprofile")
  })
  const userResult = document.querySelectorAll(".card")
  const userRank = document.querySelectorAll(".card .rank")
  console.log(userRank[0])
  console.log(userRank[1])
  console.log(userRank.length - (userRank.length - 1))

    for(x in userResult){
      if(userResult[x,0] == userResult[0]){
        userRank[0].classList.add("first")
        userRank[0].innerText = "1"
      }
      if(userResult[x,1] == userResult[1]){
        userRank[1].classList.add("second")
        userRank[1].innerText = "2"
      }
      if(userResult[x,2] == userResult[2]){
        userRank[2].classList.add("third")
        userRank[2].innerText = "3"
      }
    }
const close_btn = document.getElementById("close-btn")
const popup = document.querySelector("#myModal")
const uploadImgBtn = document.querySelector("#upload")
const popupModal = document.querySelector("#popupmodal")
const closeUpload = document.querySelector("#closeUploadPopup")
const editProfile = document.querySelector("#editProfile")
uploadImgBtn.addEventListener("click", function(){
    popupModal.style.display = "block"
})
closeUpload.addEventListener("click", function(){
    popupModal.style.display = "none"
})
editProfile.addEventListener("click", function(){
    popupModal.style.display = "block"
})

</script>
</html>