<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--====styling=====-->
    <link rel="stylesheet" href="{% static 'css/statistics.css' %}">
    <!--===Poppins===-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--======Boxicons======-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Quiz web app</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="{% url 'home' %}" class="nav__logo">Logo</a></li>
            </ul>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">

                    {% if request.user.is_authenticated %}
                    <li class="nav__item"><a href="{% url 'leaderboard' %}" class="nav_link ">Leaderboard</a></li>
                    <li id="profiledropdown">
                      <div class="profiledropdown">
                        <img src="{% static 'img/profile.svg' %}" alt="">
                      </div>
                    </li>
                    <div class="userprofile" id="userprofile">
                      <div class="img">
                        <img src="{% static 'img/profile.svg' %}" alt="">
                        <div class="upload-img">
                          <p>+</p>
                        </div>
                      </div>
                      <h4>John Doe</h4>
                      <p class="email">john@gmail.com</p>
                      <div class="button_container">
                        <a href="{% url 'account_logout' %}">Logout</a>
                      </div>
                    </div>
                    {% else%}
                    <li class="nav__item"><a href="{% url 'account_login' %}" class="nav_link">Login</a></li>
                    <li class="nav__item"><a href="{% url 'account_signup' %}" class="nav_link btn">Create an account</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="nav__toogle" id="nav-toggle" >
                <i class='bx bxs-grid '></i>
            </ul>

        </nav>

    </header>
    <section class="ads">
        <div class="ad-silver">
            <div class="img">
                <img src="{% static 'img/logo-colour.d534143b.svg' %}" alt="">
            </div>
            <div class="description">
                <h2 class="data">Coca cola <span class="close"><i class='bx bx-x'></i></span></h2>
                <p class="desc">The essential app for every designer. Generate and collect beautiful color palettes on the go.</p>
                <a href="">Visit now</a>
            </div>
        </div>
    </section>
   <section class="leaderBoard">
     <h1>Leaderboard</h1>
     <div class="circles">
       <div id="profile">
         <img src="{% static 'img/profile.svg' %}" alt="">
         <h1>John Doe</h1>
         <h1 id="score"><i class='bx bx-coin-stack'> </i>1000</h1>
       </div>
      </div>
      <div class="table">
        <div class="card">
          <p class="rank first">1</p>
          <img src="{% static 'img/profile.svg' %}" alt="">
          <div class="user-info">
            <p class="name">John Doe</p>
            <p class="score">1000</p>
          </div>
        </div>
        <div class="card">
          <p class="rank second">2</p>
          <img src="{% static 'img/profile.svg' %}" alt="">
          <div class="user-info">
            <p class="name">Jane Doe</p>
            <p class="score">1000</p>
          </div>
        </div>
        <div class="card">
          <p class="rank third">3</p>
          <img src="{% static 'img/profile.svg' %}" alt="">
          <div class="user-info">
            <p class="name">Tom Doe</p>
            <p class="score">1000</p>
          </div>
        </div>
        <div class="card">
          <p class="rank normal">4</p>
          <img src="{% static 'img/profile.svg' %}" alt="">
          <div class="user-info">
            <p class="name">Peter Doe</p>
            <p class="score">1000</p>
          </div>
        </div>

        </div>
      </div>



   </section>
</body>
<script src="{% static 'JS/main.js' %}"></script>
<script>
  const dropdownBtn = document.getElementById("profiledropdown")
  const dropdown = document.getElementById("userprofile")
  dropdownBtn.addEventListener("click", function(){
    console.log("code works till this instance.")
    dropdown.classList.toggle("visibleprofile")
  })

</script>
</html>